extends layout

block content
    div.row
        div.col.s8
            -var n = 0
            while n++ < docdata.previews
                img.preview(src='/doc/' + docdata._id + '/preview/' + n)
        div.col.s4
            div= 'Betreff: '
                =docdata.subject
            div= 'Datum: '
                if(docdata.docdate)
                    =moment(docdata.docdate, 'DD.MM.YYYY').format('DD.MM.YYYY')

            div
                div= 'Benutzer: '
                    =docdata.users
            a(href='/doc/' + docdata._id + '/update/') Aktualisieren
            br
            a(href='/doc/') Zurück
