//translate pug vars to client js
script.
    window.docdata = !{JSON.stringify(data).replace(/<\//g, '<\\/')};
    window.taglist = !{JSON.stringify(session.taglist).replace(/<\//g, '<\\/')};
    window.qhost = !{JSON.stringify(qhost).replace(/<\//g, '<\\/')};
