extends layout

block content
  h1 Willkommen im Papierkorb
  div.container.center-align
      each user in users
          a.waves-effect.waves-light.btn-large.blue.lighten-2(href='/doc/?user=' + user._id)= user.name
              i.material-icons.large.left account_circle
          br
          br
      a.waves-effect.waves-light.btn-large.blue(href='/doc/?user=.*') Alle Dokumente
