li
    form#navform(method='POST' action='/doc/')
        input#navsearch(name='navsearch', style='margin-left:200px;width:100px')
li
    a#navsearchbutton(href='#')
        i.material-icons() search
li(class=active.all)
    a(href='/doc/?delpartner=1&deltags=1&deldocdate=1') Übersicht
        i.material-icons.left view_list
li(class=active.partners)
    a(href='/partners/') Partner
        i.material-icons.left store_mall_directory
li(class=active.new)
    a(href='/new/') Neu
        i.material-icons.left add_circle
li
    a.dropdown-trigger(href='#!' data-target="dropdownorphan" data-beloworigin="true")
        ='Waisen'
        i.material-icons.right arrow_drop_down
        i.material-icons.left warning