div.modal-content
    form#modalsearchform(autocomplete="off" method='POST' action='/doc/')
        div.row
            div.col.s6
                label(for='docdatesearchinputfrom') Datum von:
                input#docdatesearchinputfrom.form-control.datepicker.datelayout(value=session.plain.docdatefrom, name='docdatefrom')
            div.col.s6
                label(for='docdatesearchinputto') Datum bis:
                input#docdatesearchinputto.form-control.datepicker.datelayout(value=session.plain.docdateto, name='docdateto')
        div.row
            div.col.s5
                label(for='partnersearchinput') Partner:
                input#partnersearchinput.autocomplete(value=session.plain.partner, name='partner')
            div.col.s1
                div.right-align
                    i#pstt.tooltipped.material-icons(data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
            div.col.s5
                label(for='tagsearchinput') Tags:
                input#tagsearchinput.autocomplete(value=session.plain.tags, name='tags')
            div.col.s1
                div.right-align
                    i#tstt.tooltipped.material-icons(style='cursor: help;', data-position='left', data-delay='50', data-tooltip='Lade...', data-html='true') help_outline
        div.row
            div.col.s12.right-align
                a#modalsearchbutton.modal-action.modal-close.waves-effect.btn.blue(href='#')
                    i.material-icons.large search
        div.row
            div.col12
                br
                br
                br
                br
                br
