body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.anchor:target {padding-top: 80px;}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
}

img.preview {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  border: 2px dotted;
}

textarea.doctext {
    height: 20rem;
}

div.customcontainer {
    width: 95%;
    max-width: initial;
}

.ppgrid {
    font-size: 18px;
}

[type="date"] {
  background:#fff url(/images/date16px.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}